.sidebar {
	font-size: 2.5em;
	background-color: #102d35;
}

.center-icon-button {
	align-items: center;
	justify-content: center;
}

.base-button {
	background-color: #a6dce2;
	color: black;
	border-color: black;
	border-width: 1px;
}



.home-buttons {
	cursor: pointer;
	border: 1px solid #000000;
	background-color: transparent;
	color: #3498db;
	width: 450px;
	height: 200px;
	box-shadow: 0 6px 6px rgba(0, 0, 0, 0.6);
	font-size: 1.5em;
	color: black;
}

.head-1 {
	font-size: 3.5em;
}

.head-2 {
	font-size: 2.5em;
}

.text-bottom {
	position: absolute;
	bottom: 0;
	left: 0;
}

.banner {
	background-color: #102d35;
	color: white;
	padding: 5px 10px;
}

.banner-head {
	font-size: 2.4em;
}

.banner .logout {
	text-decoration: underline;
	cursor: pointer;
}

.footer {
	background-color: #102d35;
	color: white;
	padding-top: 5px;
}

.footer a, .footer a:VISITED {
	color: white;
}

.sidebar a, .sidebar a:VISITED {
	color: black;
	text-decoration: none;
}

.sidebar-fn {
	cursor: pointer;
}

.row-title .z-label {
	font-weight: bold;
	color: #636363;
}

.fn-caption .z-caption-l {
	font-weight: bold;
	font-size: medium;
	color: #636363;
}

.complete-todo .z-label {
	text-decoration: line-through;
}

.login-text {
	font-size: 1.4em;
}

.z-datebox-inp {
	width: 100px;
	height: 80px;
}



.warn {
	color: red;
}

.demo-main a, .demo-main a:VISITED {
	color: #636363;
	text-decoration: underline;
	font-size: smaller;
}

.todo-box {
	padding-right: 4px;
}